.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4d5057;
  height: 100vh;
  margin: 0;
  background: url("../assets/app-assets/library-image.jpg");
  background-size: cover;
  background-position-y: -400px;
  background-repeat: no-repeat;
  font-family: "Noto Sans Hanunoo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;

  /* background-color: red; */
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
}

.headerText {
  font-size: 28px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-top: 30px;
}

.descriptionText {
  font-size: 15px;
  color: #ccc;
  margin-top: 10px;
  width: 30%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.logo {
  width: 8%;
}

.confirmationText {
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-top: 100px;
  width: 90%;
  text-align: center;
}

.inputBoxContainer {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom: 2px solid #26732f; */
  border-bottom: 2px solid #253127;
  margin-bottom: 30px;
}

.inputBoxText {
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.inputBoxInput {
  color: white;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border-bottom: 2px solid #246d2c;
  height: 40px;
  width: 95%;
  background: none;
  border: none;
  outline: none;
  margin-top: 5px;
}
@media screen and (max-width: 768px) {
  .screen {
    background-position-y: 0;
  }
  .inputBoxContainer {
    width: 90%;
  }
  .descriptionText {
    width: 75%;
    font-size: 13px;
  }
}
